

.mobile-header__body {
    height: 50px;
    display: -ms-flexbox;
    display: flex
}



.mobile-header__indicators {
    display: -ms-flexbox;
    display: flex;
    margin-left: auto
}



.mobile-header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 14px
}



.mobile-header__logo-part-one {
    fill: #e52727
}



.mobile-header__logo-part-two {
    fill: #404040
}



.mobile-header__menu-button {
    width: 52px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
    fill: #404040
}



.mobile-header__menu-button:active {
    background: #ededed
}



.mobile-header__menu-button:focus {
    outline: none
}



.mobile-header__menu-button:hover {
    background: #f2f2f2
}



.mobile-header__search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    max-width: 440px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 12px;
    margin: 0 auto
}



.mobile-indicator {
    position: relative
}



.mobile-indicator__button {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    width: 44px;
    color: inherit;
    background: transparent;
    border: none
}



.mobile-indicator__button:focus {
    outline: none
}



.mobile-indicator__button:hover {
    color: inherit;
    text-decoration: none
}



.mobile-indicator__counter {
    color: #fff;
    font-weight: 500
}



.mobile-indicator__counter {
    position: absolute;
    top: -7px;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
    right: -7px
}



.mobile-indicator__counter:before {
    background-color: #e52727
}



.mobile-indicator__counter:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 2.5px;
    left: 0;
    right: 0;
    transform: skewX(-11deg)
}



.mobile-indicator__icon {
    display: block;
    position: relative
}



.mobile-indicator__icon {
    fill: #262626
}



.mobile-indicator__icon svg {
    display: block;
    transform: scaleX(1)
}



.mobile-indicator:hover .mobile-indicator__button {
    background: #f2f2f2
}



.mobile-search__body {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%
}



.mobile-search__button {
    width: 38px;
    padding: 0;
    transition: color .2s;
    fill: currentColor
}



.mobile-search__button,
.mobile-search__input {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit
}



.mobile-search__button,
.mobile-search__vehicle-picker {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}



.mobile-search__button:focus,
.mobile-search__input:focus {
    outline: none
}



.mobile-search__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    transition: color .2s, background .2s, border-color .2s
}



.mobile-search__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px
}



.mobile-search__vehicle-picker {
    -ms-flex-order: -1;
    order: -1;
    background: #ffdf40;
    color: #262626;
    min-width: 44px;
    padding: 0 12px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2.5px;
    border: none;
    transition: color .15s, background-color .15s
}



.mobile-search__vehicle-picker svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    fill: rgba(0, 0, 0, .75)
}



.mobile-search__vehicle-picker svg+.mobile-search__vehicle-picker-label {
    margin-left: 8px
}



.mobile-search__vehicle-picker:active {
    background: #ffca16
}



.mobile-search__vehicle-picker:focus {
    outline: none
}



.mobile-search__vehicle-picker:hover {
    background: #ffd226
}



@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .mobile-indicator__counter {
        font-weight: 400
    }
}



@media (max-width:440px) {
    .mobile-search__vehicle-picker-label {
        display: none
    }
}



@media (max-width:767.98px) {
    .mobile-header {
        position: relative
    }

    .mobile-header .container {
        padding: 0 8px
    }

    .mobile-header__menu-button {
        width: 44px
    }

    .mobile-header__logo {
        padding-left: 10px;
        padding-right: 10px
    }

    .mobile-header__search {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: none;
        padding: 0;
        z-index: 1;
        transform: translateY(-100%);
        transition: transform .3s;
        left: 0
    }

    .mobile-header__search--open {
        transform: none
    }
}



@media (max-width:767.98px) {
    .mobile-search__body {
        height: 100%
    }

    .mobile-search__input {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        width: 0;
        padding: 0 0 0 12px
    }

    .mobile-search__button {
        width: 52px
    }

    .mobile-search__button--close {
        border-width: 0;
        border-style: solid;
        border-left-width: 1px
    }

    .mobile-search__input {
        color: #262626
    }

    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d
    }

    .mobile-search__input::-moz-placeholder {
        color: #6c757d
    }

    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d
    }

    .mobile-search__input::placeholder {
        color: #6c757d
    }

    .mobile-search__input~.mobile-search__field {
        background: #fff
    }

    .mobile-search__input~.mobile-search__button--close {
        border-color: #ebebeb
    }

    .mobile-search__button {
        color: #b2b2b2
    }

    .mobile-search__button:hover {
        color: #e52727
    }

    .mobile-search__vehicle-picker {
        margin: 8px 0;
        margin-left: 8px
    }
}



@media (min-width:1200px) {
    .mobile-header {
        display: none
    }
}



@media (min-width:768px) {
    .mobile-search__input {
        height: 36px;
        padding: 0 11px;
        border-radius: 3px;
        transition: color .2s, background .2s, border-color .2s;
        color: #262626;
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        padding-left: 11px;
        padding-right: 37px
    }

    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d
    }

    .mobile-search__input::-moz-placeholder {
        color: #6c757d
    }

    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d
    }

    .mobile-search__input::placeholder {
        color: #6c757d
    }

    .mobile-search__input:hover {
        border-color: #d9d9d9
    }

    .mobile-search__input:focus {
        background-color: #fff;
        border-color: #d9d9d9
    }

    .mobile-search__button--close {
        display: none
    }

    .mobile-search__button--search {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0
    }

    .mobile-search__vehicle-picker {
        margin-right: 6px
    }

    .mobile-search__button--search {
        color: #b2b2b2
    }

    .mobile-search__button--search:hover {
        color: #e52727
    }
}



@media (min-width:768px) and (max-width:991.98px) {
    .mobile-search__vehicle-picker-label {
        display: none
    }
}

.mobile-header {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .09);
    position: relative;
    z-index: 100
}
